:root{
	font-family: Arial, Helvetica, sans-serif;
	--header-footer-bg: #003060;
	--header-footer-font: white;
	--body-bg: #F3F2EF;
	--main-bg: #0E86D4;
	--Nav-bg: #68BBE3;
	--nav-color: #333333;
	--size-navitem: 2rem;

	/* Navy Blue
#003060

Blue
#055C9D

Blue Grotto
#0E86D4

Baby Blue
#68BBE3 */
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
/* ------ Début Header ------ */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}







.title {
	color: white;
	font-size: 1.5rem;
	background-color: var(--header-footer-bg);
	text-align: center;
	padding: 20px;
	width: 100%;
	overflow: hidden;
  line-height: 2em;
}

.title > h1 {
	text-transform: capitalize;
}

.title > h1 span {
	text-transform: uppercase;
}

.title > div {
	font-size: initial;
	text-transform: capitalize;
}

.title .dashed:after {
	content: "-"
}

/* menu nav  */

body > nav{
    margin-bottom: 20px;
}

body > nav ul{

    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: var(--header-footer-font);
}

/* body > nav a i {
	
} */
body > nav ul li a, body > nav ul li a:visited{
    display: block;
    line-height: var(--size-navitem);
    color: var(--header-footer-font);
    /* font-weight: bold; */
    text-decoration: none;
    text-align: center;
	padding: 0px 90px;
    margin: 0 14px 0 20px;
	font-size: 18px;
}

body > nav ul li a:hover, body > nav ul li a:focus {
    background-color: var(--Nav-bg);
    color: var(--main-bg);
	transition:color 0.90s ease-in-out;
	border-radius: 2%;
	/* opacity: 0.9; */
	-webkit-transform: translate(0, 20px);
	    -ms-transform: translate(0, 20px);
	        transform: translate(0, 20px);
	
}

/* footer */
footer {
	padding: 20px;
	text-align: center;
	background-color: var(--header-footer-bg);
	color: white;

	display: block;
}

.footer-lastname {
	text-transform: uppercase;
}
.social-icons {
	margin: 0 60px 15px 0;
}
.social-icons a {
	display: inline-block;
	width: 84px;
	height: 84px;
	background-image: url('../img/sprite.png');
}

.social-icons a.linkedin {
	background-position: -336px 0;
}

.social-icons a.linkedin:hover {
	background-position: -336px -84px;
	
	/* border-radius: 50%; */
}
.fa-github {
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* transition: .5s; */
	font-size: 37px;
    /* position: absolute; */
    margin: -80px 0 0 40px;

	color: gray;
	position: absolute;
	
	/* margin: 0 20px; */
	/* padding:10px; */
    
	
}

.fa-github:hover {
	border-radius: 50%;
	border: 10px solid black;
}






/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 

} */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	body > nav ul{
        flex-direction:column;
        justify-content: space-between;
    }
	.fa-home, .fa-check, .fa-folder, .fa-school, .fa-laptop-house {
		display: none;
	}

}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    
}

@media (min-width: 1600px) {
	
} */

/* h1 {
    background-color: unset;
}

h2 {
	text-align: center;
}

h1,h2,h3,h4,h5,h6:first-letter  {
    text-transform: capitalize;
}

img {
	max-width: 5%;
} */

/* header */
/* span { */
	/* display: none; */
	/* text-transform: uppercase;
} */
/* 
header > div > h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}
header > div > p {
	text-align: center;
	padding-top: 17px;
	margin-bottom: 40px;
} */
/* body */
/* body {
	background-color: var(--body-bg);
	text-align: left;
	font-size: 20px;
}

body header {
	background-color: var(--header-footer-bg);
	color: var(--header-footer-font);
	display: flex;
	justify-content: center;
	align-items: center;
}

body > nav {
	margin-bottom: 20px;
	text-align: center;
}

body  nav ul {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	list-style: none;
	margin: 0;
	padding: 10px;
	background-color: var(--Nav-bg);
	color: var(--header-footer-font);
}

body > nav ul li a {
	color: var(--nav-color);
}

body > nav ul li a, body > nav ul li a:visited{
    display: block;
    line-height: var(--size-navitem);
	color: var(--nav-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
}

body > nav ul li a:hover, body > nav ul li a:focus{
    background-color: var(--header-footer-font);
    color: var(--header-footer-bg);
	color: var(--nav-color);
} */
/* main */
/* .profil {
	margin: 10px;
	padding: 10px;
}

.profil > p {
	text-align: left;
} */
/* moi */

/* Compétences */
/* section.skills {
	
	text-align: center;
	margin: 50px 40px 50px 40px;
	padding: 20px 0px 20px 40px;
	border-radius: 3%;
	border: 1px solid var(--main-bg);
	background-color: var(--body-bg);
}

section.skills img {
	
	margin: 25px;
	border-radius: 50%;
	border: 1px solid black;
} */
/* portfolio */
/* .container {
	max-width: 1100px;
	margin: 0 auto;
}

.portfolio {
    background-color: var(--main-bg); */
	/* color: normal; */
	/* font-size: 1.1em;
	line-height: 2;
} */

/* .portfolio article {
	float: left;
	width: 33%;
	margin: 0;
	padding: 3%;
	text-align: center;
}

.portfolio img {
	width: 200px;
} */

/* scolarite */

 /* .test {
	display: flex;
	flex-direction: row; */
	/* width: 33%; */
	/* width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background: #fff;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: grey 8px 10px 4px -8px;
}

.test > p {
	font-size: 2rem;
} */
/* Centres d'intérêt */
/* section.hobbies {
	background-color: var(--main-bg);
} */
/* Footer */
/* footer {
	background-color: var(--header-footer-bg);
	margin: 0;
	padding: 50px;
}

footer p {
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
} */

