:root{
	font-family: Arial, Helvetica, sans-serif;
	--header-footer-bg: #003060;
	--header-footer-font: white;
	--body-bg: #F3F2EF;
	--main-bg: #0E86D4;
	--Nav-bg: #68BBE3;
	--nav-color: #333333;
	--size-navitem: 2rem;

	/* Navy Blue
#003060

Blue
#055C9D

Blue Grotto
#0E86D4

Baby Blue
#68BBE3 */
}

h1 {
    background-color: unset;
}

h2 {
	text-align: center;
}

h1,h2,h3,h4,h5,h6:first-letter  {
    text-transform: capitalize;
}

img {
	max-width: 5%;
}

/* header */
span {
	/* display: none; */
	text-transform: uppercase;
}

header > div > h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}
header > div > p {
	text-align: center;
	padding-top: 17px;
	margin-bottom: 40px;
}
/* body */
body {
	margin:0;
	background-color: var(--body-bg);
	text-align: left;
	font-size: 20px;
}

body header {
	background-color: var(--header-footer-bg);
	color: var(--header-footer-font);
	display: flex;
	justify-content: center;
	align-items: center;
}

body > nav {
	margin-bottom: 20px;
	text-align: center;
}

body  nav ul {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	list-style: none;
	margin: 0;
	padding: 10px;
	background-color: var(--Nav-bg);
	color: var(--header-footer-font);
}

body > nav ul li a {
	color: var(--nav-color);
}

body > nav ul li a, body > nav ul li a:visited{
    display: block;
    line-height: var(--size-navitem);
	color: var(--nav-color);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 0 15px;
}

body > nav ul li a:hover, body > nav ul li a:focus{
    background-color: var(--header-footer-font);
    color: var(--header-footer-bg);
	color: var(--nav-color);
}
/* main */
/* .profil {
	margin: 10px;
	padding: 10px;
}

.profil > p {
	text-align: left;
} */
/* moi */

/* Compétences */
/* section.skills {
	
	text-align: center;
	margin: 50px 40px 50px 40px;
	padding: 20px 0px 20px 40px;
	border-radius: 3%;
	border: 1px solid var(--main-bg);
	background-color: var(--body-bg);
}

section.skills img {
	
	margin: 25px;
	border-radius: 50%;
	border: 1px solid black;
} */
/* portfolio */
/* .container {
	max-width: 1100px;
	margin: 0 auto;
}

.portfolio {
    background-color: var(--main-bg);
	/* color: normal; */
	/* font-size: 1.1em;
	line-height: 2;
} */

/* .portfolio article {
	float: left;
	width: 33%;
	margin: 0;
	padding: 3%;
	text-align: center;
}

.portfolio img {
	width: 200px;
} */

/* scolarite */

 /* .test {
	display: flex;
	flex-direction: row;
	/* width: 33%; */
	/* width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background: #fff;
    border-radius: 0;
    border: 1px solid #ccc;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: grey 8px 10px 4px -8px;
}

.test > p {
	font-size: 2rem;
} */

/* EDUCATION */
/* #education
{
    background: #ECEEF2;
}
#education .heading h2
{
    color: #d82c2e;
}
.education-block
{
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding: 30px;
		background: #fff;
		border-radius: 0;
		border: 1px solid #ccc;
		height: 385px;
		margin-bottom: 20px;
		box-shadow: grey 8px 10px 4px -8px;
}

.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
		font-family: 'Slabo 27px', sans-serif;
}
.education-block .glyphicon
{
    font-size: 40px;
}
.education-block h3
{
     color: #d82c2e;
		 font-family: 'Slabo 27px', sans-serif;
}
.education-block h4
{
   margin-bottom: 20px;
	 font-family: 'Cardo', serif;

}
.education-block p
{
  font-weight: bold;

}
.education-block .red-divider
{
    margin-bottom: 20px;
} */
/* Centres d'intérêt */
/* section.hobbies {
	background-color: var(--main-bg);
} */
/* Footer */
/* footer {
	background-color: var(--header-footer-bg);
	margin: 0;
	padding: 50px;
}

footer p {
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
} */

/* @media(min-width:900px){
    body > nav 
} */